@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #00796b;
    --color-secondary: #E0F2F1;
    --color-third: #555555;
    --color-four: #222222;
    --color-light: #e1e1e1;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: var(--color-four);
    box-sizing: border-box;
}

@layer utilities {
    .container-main {
        width: 100%;
        max-width: 1410px;
        margin: 0 auto;
    }

    .flex-center {
        @apply flex justify-center items-center
    }

    .flex-between {
        @apply flex justify-between items-center
    }
}