{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    ["module-resolver", {
      "alias": {
        "@config": "./src/config",
        "@controllers": "./src/controllers",
        "@core": "./src/core",
        "@helpers": "./src/helpers",
        "@middlewares": "./src/middlewares",
        "@models": "./src/models",
        "@routes": "./src/routes",
        "@services": "./src/services",
        "@utils": "./src/utils",
        "@validations": "./src/validations"
      }
    }]
  ]
}
